@import "../../../App/mixin.scss";

.inputContainer {
    position: relative;
    display: inline-block;

    .input {
        //background-color: $inputBackgroundColor;
        background-image: linear-gradient(to right, $inputBackgroundColor, $transparent-bg);
        border: 2px solid $darkBorder;

        &:hover {
            box-shadow: 0 0 4px 2px $accentColor;
        }

        &:focus-visible {
            box-shadow: 0 0 4px 2px $activeColor;
        }
    }

    .textCount {
        display: none;

        &.active {
            position: absolute;
            top: 0;
            right: 4px;
            color: $secondaryText;
            background-color: $transparent-bg;
            font-size: 0.6em;
        }
    }

    .placeholder {
        display: none;

        &.active {
            position: absolute;
            top: 0;
            left: 4px;
            height: 100%;
            display: flex;
            align-items: center;
            color: $secondaryText;
        }

    }
}