@import "../../../App/mixin.scss";

.footerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;

    .footer {
        width: 80%;
        height: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(128px, 1fr);
        border: 2px solid $darkBorder;
        background-color: $inputBackgroundColor;
        margin: 0 auto;
        min-width: 0;
        overflow: auto;
    }
}



.footerIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $darkBorder;

    &:hover {
        background-color: $inputForegroundColor;
        box-shadow: 0 0 4px 1px $borderColor;
    }

    &:active {
        filter: brightness(0.8);
        transform: scale(0.98);
        box-shadow: 0 0 4px 2px $accentColor;
        margin: 2px 4px;
    }

    &:focus-visible {
        box-shadow: 0 0 4px 2px $activeColor;
    }
}