@import "../../App/mixin.scss";

.header {
    padding: 0 16px;
    display: grid;
    grid-template-columns: auto 1fr auto minmax(0, auto);
    height: 100%;
    width: 100%;
    align-items: center;
    column-gap: 8px;
    background-image: linear-gradient(to bottom, $transparent-bg, transparent);

    h1 {
        transition: 0;
        animation: lighting 5s linear infinite 2s;
        @media (prefers-reduced-motion) {
            animation: none;
        }
        .noAnimation{
            animation: none;
        }
    }

    @media screen and (max-height:540px),
    (max-width:640px) {
        h1 {
            font-size: 24px;
        }
    }

    @media screen and (max-width:640px) {
        .clock {
            display: none;
        }
    }

    .icons {
        display: grid;
        min-width: 0;
        height: 36px;
        width: 100%;
        grid-auto-flow: column;
        grid-auto-columns: 28px;
        column-gap: 8px;
        overflow-x: auto;
        overflow-y: visible;
        align-items: center;
        padding: 4px;

        .icon {
            display: flex;
            height: 28px;
            width: 28px;

            svg {
                height: 28px;
                width: 28px;
                padding: 4px;
            }

            &:hover {
                background-color: $inputBackgroundColor ;
                box-shadow: 0 0 4px 2px $accentColor;
            }

            &:active {
                background-color: $inputForegroundColor ;
                filter: brightness(0.8);
                transform: scale(0.95);
            }

            &:focus-visible {
                box-shadow: 0 0 4px 2px $activeColor;
            }
        }
    }
}

@keyframes lighting {
    0% {
        opacity: 1;
    }

    28% {
        opacity: 1;
    }

    29% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    34% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    36% {
        opacity: 1;
    }

    59% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    61% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    68% {
        opacity: 0;
    }

    69% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    71% {
        opacity: 0;
    }

    72% {
        opacity: 1;
    }

    74% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    76% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

}